 /* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* clearfixを追加*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 90%;  /*横幅*/
	padding: 15px 0;  /*borderより内側の余白*/
	margin: 0 auto;  /*borderより外側の余白*/
}
/*headerタグ内のheaderlineクラスにのみ反映される*/
header .headline {
	font-size: 32px;
}
.main-visual {
	width: 100%;  /*横幅いっぱい*/
	height: 300px;  /*高さ*/

}
.main-visual-content {
	width: 350px;  /*横幅を指定*/
	height: 300px;  /*親の高さに揃える*/

}
.main {
	width: 840px;  /*横幅*/
	/*height削除*/
    /*overflow: hidden;を追加*/
    /*clearfix検証のためoverflow: hidden;削除/
    /*中央寄せ(余白がないと出来ない)*/
    margin: 0 auto;

}
.blog {
	width: 600px;  /*横幅*/
	height: 1400px;  /*高さ*/

	float: left;  /*要素を左揃えで並べる*/
}
.sidebar {
	width: 240px;  /*横幅*/
	height: 1400px;  /*高さ*/

	float: left;  /*要素を左揃えで並べる*/
}
footer {
	width: 100%;  /*横幅*/
	height: 120px;  /*高さ*/
}